*{

  margin: 5px;
  padding: 2px;
  box-sizing: border-box;
}

body{
  background-image: url(./img/fondo.jpg);
  min-height: 100vh;
  min-width: 100vw;
  margin: 0;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Montserrat', sans-serif;
}

.padre{
  font: 100;

}
/* Header */
  .header{
    background: #0A2C59;
    display: flex;
    flex-flow: column nowrap;
  }
    .menu{
      display: flex;
      flex-flow: row nowrap;
      height: 100px;
      align-items: center;
      justify-content: flex-end;
    }
      .nav{
        background: rgba(191, 146, 10, 0.247);
        flex:  1 auto;
        height: 20px;

      }
      .social{
        background: rgba(191, 146, 10, 0.247);
        flex: 1 auto;
        height: 20px;
        }


  /* Seccion donde apárecen las listas de selección*/
  .opciones{
    background: #fefefe;
    font-family: Arial, Helvetica, sans-serif;

  }
    .img{
      width: 200px; height: auto;
      display:block;
      margin:auto;
    }
    .listasSeleccion{

      margin: 0 auto;
      max-width: 100%;
      width: 100%;
      position: static;
      top: 50%;
      left: 50%;
      transform: (-50%,50%);
      display: flex;
      flex-direction: row;
      flex-flow: wrap;
      justify-content: center;

    }
      .listasSeleccion select {
        background: rgba(10, 44, 89, 0.932);
        color:  #fefefe;
        padding: 10px;
        width: 200px;
        height: 50px;
        border: none;
        font-size: 16px;
        box-shadow: 0 5px 25px rgba(0, 0, 0,.5);
        border-radius: 10px ;
      }

  .lista-pokemones{
    background: #fefefe;

  }
    .contenedor{

      width: 100%;
      height: auto;
      /* flex stile */
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin: 0px auto;
      flex-flow: wrap;
      padding: 20px 0 60px 0;
    }
      .card{
        width: 250px;
        height: 300px;
        padding: 30px 50px;
        background: rgba(10, 44, 89, 0.089);
        margin:20px;
        box-sizing: border-box;
        font-size:17px;
        border-radius: 20px;
        border: 1px solid #e1e1e1;
        text-align: center;
        margin-bottom: 1%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.623);
        transition: 1s;
        cursor: pointer;
      }
      .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.747);
      }
      .card img {
        border-radius: 5px 5px 0 0;
        width: 65%;
      }
      .card .type-icon-main {
        max-width: 25%;
        margin: 8px auto 0;
        justify-content: space-around;
      }
      .card .type-icon-text {
        font-size:12px;
        text-align: center;
      }

  /* Sección del Modal*/
  .flex {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-betweennter; /* hotizontalmente va a repartir los elementos */
    align-items: center; /* centra verticalmente*/
  }
  .modal{
    display: none; /* en main esta block al dar click se activa*/
    position: fixed; /* se queda en un lugar*/
    z-index: 1; /* se posiciona en el on top */
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* por si el height es mas grande quue el documento*/
    background-color: rgba(0, 0, 0, 0.452);
  }
    .contenido-modal {
      position: relative;
      background: #fefefe;
      margin: auto;
      border: 1px solid #888;
      width: 80%;
      box-shadow: 0 0 6px 0 rgb(0, 0, 0, 0.4);
      animation-name: modal;
      animation-duration: 1s;
    }
    /* animación para modal*/
    @keyframes modal {
      from {top: 330px; opacity: 0;}
      to{top:0; opacity: 1;}
    }
    /*el boton cerrar*/
    .close {
      color: rgba(10, 44, 89, 0.342);
      font-size: 30px;
      font-weight: bold;
    }
    .close:hover, .close:focus{
      color: #0A2C59;
      text-decoration: none;
      cursor: pointer;
    }

    /*responsive modal */
    @media screen and (max-widht:900px) {
      .contenido-modal {
        width: 70%;
      }
    }

  /* Seccion del pie*/
  .footer{
    background: #0A2C59;
    display: flex;
    justify-content: center;
  }
    .pie{
      background: #e6af2e;
      width: 300px;
    }



